/* Header */
.titreheader{
    text-align: center;
}
.article{
    border:1px dotted black;
    padding: 30px;
    margin: 40px;
}
.titrearticle{
    color: blueviolet;
    font-size: 30px;
    text-align: center;
}

.datepub{
    font-style: italic;
}
img{
    max-width: 100%;
}

.copyright{
    font-style: italic;
    text-align: center;
    font-size: 15px;
}